<ion-view view-title="My Profile">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-divider">
        About me
      </div>
      <label class="item item-input">
        <span class="input-label">Age</span>
        <input type="number" ng-model="profile.age" min="18">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Gender</span>
        <select ng-model="profile.gender">
          <option></option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="profile.email">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Ethnicity</span>
        <select ng-model="profile.ethnicity">
          <option></option>
          <option value="White">White</option>
          <option value="African American">African American</option>
          <option value="Asian">Asian</option>
          <option value="Native American">Native American</option>
          <option value="Pacific Islander">Pacific Islander</option>
          <option value="Multi-racial">Multi-racial</option>
          <option value="Hispanic">Hispanic</option>
          <option value="Other">Other</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Income</span>
        <input type="number" ng-model="profile.income">
      </label>
    </div>
    <div class="list list-inset">
      <div class="item item-divider">
        My Commute
      </div>
      <label class="item item-input">
        <span class="input-label">Home zip</span>
        <input type="number" ng-modeil="profile.homeZip">
      </label>
      <label class="item item-input">
        <span class="input-label">Work zip</span>
        <input type="number" ng-model="profile.workZip">
      </label>
      <h4 class="balanced text-center" ng-show="profileSaved">Profile saved</h4>
      <button class="button button-positive button-full" ng-click="saveProfile()">Save</button>
    </div>
  </ion-content>
</ion-view>
