<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-top tabs-icon-left tabs-background-balanced tabs-color-light">

  <!-- Trips Tab -->
  <ion-tab title="My Rides" icon-off="ion-android-map" icon-on="ion-android-map" href="#/tab/trips">
    <ion-nav-view name="tab-trips"></ion-nav-view>
  </ion-tab>

  <!-- Record Tab -->
  <ion-tab title="New Ride" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/record">
    <ion-nav-view name="tab-record"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="My Profile" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
